@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container {
  margin-bottom: 20px;
}

.container > label {
  color: var(--black);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 29.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: left;
}

.container > span:nth-child(2) {
  color: var(--red);
  font-family: "rethink Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.input {
  position: relative;
  display: block;
}

.input > span {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.input > input {
  display: block;
  width: 100%;
  padding: 0px 0px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 29.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: left;
  padding: 1rem;
  margin: 12px 0;
  border-radius: 0px;
  animation: appear 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: 1px solid transparent;
  border-width: 0px 0px 1px 0px;
}

.input input:focus {
  outline: 1px solid var(--blue);
}

.valid {
  border-bottom: 1px solid var(--darkBlue);
  color: var(--black);
}

.invalid {
  border-bottom: 1px solid var(--red);
  color: var(--red);
}

.input > input::placeholder {
  color: var(--grey2);
  font-family: "";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: -0.01em;
  text-align: left;
}

.errorMessage {
  color: var(--red);
  font-family: "Rethink Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  animation: appear 0.2s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tip {
  color: var(--grey);
  font-family: "Rethink Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.input > span > svg {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .input > input {
    padding: 12px;
    font-size: 14px;
    line-height: 23px;
    border-radius: 64px;
  }

  .container > label {
    font-size: 16px;
    line-height: 25px;
  }

  .errorMessage {
    font-size: 10px;
    line-height: 18px;
  }

  .input > span {
    right: 10px;
  }
}

@media screen and (max-width: 767px) and (max-width: 1024px) {
  .input > input {
    padding: 12px;
    font-size: 14px;
    line-height: 23px;
    border-radius: 64px;
  }

  .container > label {
    font-size: 16px;
    line-height: 25px;
  }

  .errorMessage {
    font-size: 10px;
    line-height: 18px;
  }

  .input > span {
    right: 10px;
  }
}
