.container {
  height: 100svh;
  position: relative;
  overflow: auto;
  scroll-behavior: smooth;
}

.container > header {
  position: sticky;
  top: 0;
  height: var(--headerHeight);
  z-index: 4;
}

.container > section {
  min-height: calc(100svh - var(--headerMargin) - var(--headerHeight));
}
