.container {
  background-color: var(--white);
  color: var(--darkBlue);
  padding: 83px 118px;
}

.header {
  text-align: center;
}

.header > h3 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  letter-spacing: 0.49em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--black);
  margin-bottom: 20px;
}

.header > p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--darkBlue);
}

.servicesection {
  display: flex;
  align-items: center;
  gap: 106px;
  margin-top: 2rem;
}

.servicesection > div {
  text-align: center;
}

.servicesection > div > img {
  max-width: 120px;
  margin-bottom: 24px;
  height: 95px;
}

.servicesection > div > h4 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--darkBlue);
}

.servicesection > div > p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--darkBlue);
}
